@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: var(--secondary-color);
  scroll-behavior: smooth;

  .title {
    h1 {
      font-size: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: palevioletred;
        margin-left: 15px;
        font-family: andika;
        font-style: italic;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: var(--secondary-color);
          display: block;
          position: relative;
          bottom: 10px;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #212121;
  --secondary-color: #fff;
}

.open-nav {
  transform: translateX(0%);
}

body {
  margin: 16px;
  background: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  svg {
    width: 36.8px;
    margin-top: -0.2 6.4px;
    cursor: pointer;

    path {
      fill: var(--secondary-color);
    }
  }

  .logo {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.7rem;
    padding: 8px 16px;
  }

  #icon {
    width: 20px;
    cursor: pointer;
    background: none;
  }

  .menu {
    width: 38px;
    padding: 6px;
    cursor: pointer;
  }
}
//Nav
nav {
  //display: none;
  position: fixed;
  right: 0;
  top: 0;
  background: var(--secondary-color);
  width: 50%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease in out;
  z-index: 100;

  a {
    color: var(--primary-color);
    padding: 16px 32px;
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
  }

  ul {
    padding: 0;
    margin-top: 8em;
  }

  .close {
    float: right;
    margin: 32px;
    width: 38px;

    path {
      fill: var(--primary-color);
    }
  }
}
//Hero
.hero {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 18px;
  .hero-image {
    width: 450px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 50%;
      animation: Bellaintroload 3s forwards;
    }
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    margin: 0 auto;
    color: var(--secondary-color);
    h1 {
      margin-top: 36px;
      font-size: 2.7rem;
      font-weight: 500;
      line-height: 45.6px;
      letter-spacing: -0.38px;

      span {
        font-family: roboto;
        font-weight: 700;
        line-height: 45.6px;
        letter-spacing: -0.38px;
        font-family: andika;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 30px;
      // margin-top: 18px;
      // width: 312px;
    }
  }
}
//About
.about {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  //  padding: 14px 18px;

  .about-image {
    width: 400px;
    img {
      width: 100%;
      border-radius: 50%;
      animation: Bellaintroload 3s forwards;
    }
  }
  .about-text-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // padding: 28px;
    // background: red;
    // width: 500px;

    .about-text {
      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.38px;
      }
    }
  }
}
//Skills
.skills {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 14px 22px;
    margin: 0 auto;
    padding: 40px;
    //background: green;

    .icons {
      display: flex;
      width: 100px;
      gap: 3px;
      margin: 0 auto;

      img {
        width: 25px;
        display: flex;
      }

      p {
        font-size: 1.15rem;
        color: var(--secondary-color);
      }
    }
  }
}
//Projects
.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    // background: var(--secondary-color);
    padding: 16px 32px;
    gap: 30px;
    .projects-box {
      width: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .projects-image {
        img {
          width: 100%;
          border: 1px solid var(--secondary-color);
        }
      }
      .projects-details {
        display: flex;
        justify-content: space-between;

        h1 {
          font-family: andika;
          color: var(--secondary-color);
        }
        svg {
          width: 20px;
          cursor: pointer;
          path {
            fill: var(--secondary-color);

            &:hover {
              fill: palevioletred;
            }
          }
        }
      }

      .projects-about {
        //  height: 35%;

        p {
          color: var(--secondary-color);
          font-size: 1rem;
          //  height: 50%;

          height: 150px;
        }

        .languages-box {
          display: flex;
          gap: 10px;
          margin-top: 25px;

          .language {
            padding: 5px 10px;
            color: var(--primary-color);
            border-radius: 5px;
            background: var(--secondary-color);
            font-size: 1rem;
          }
        }
      }

      .languages-box {
        display: flex;
        gap: 10px;
        margin-top: 25px;

        .language {
          padding: 5px 10px;
          color: var(--primary-color);
          border-radius: 5px;
          background: var(--secondary-color);
          font-size: 1rem;
        }
      }
    }
  }
}

//Contact
.contact {
  //  background: var(--secondary-color);
  margin-top: 70px;
  .contact-container {
    //background: green;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;

    .logo-card {
      // width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 35px;
      border: 2px solid palevioletred;
      border-radius: 20%;
      padding: 15px 30px;
      margin: 0 auto;
      margin-bottom: 80px;
      animation: Bellaintroload 3s forwards;
      .logo {
        color: var(--secondary-color);
        font-weight: bold;
        font-size: 3rem;
        padding: 8px 16px;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        h2 {
          color: palevioletred;
          font-size: 0.9rem;
        }
      }

      .icons {
        display: flex;
        gap: 15px;

        img {
          width: 30px;
          border-radius: 50%;
        }
      }
    }

    .contact-card {
      margin: 0 auto;
      padding: 40px;
      form {
        display: flex;
        flex-direction: column;
        gap: 10px 15px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        //  border: 2px solid var(--primary-color);

        &::placeholder {
          padding: 3px;
          font-size: 0.8rem;
        }
      }

      input[type="submit"] {
        display: block;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto;
        min-width: 300px;
        width: 50%;
        font-size: 1rem;
        background: palevioletred;
        border: none;
        color: #f2f2f2;
        cursor: pointer;
        margin-top: 10px;
      }

      input[type="submit"]:hover {
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (min-width: 680px) {
  body {
    margin: 24px 80px;
  }

  .hero,
  .about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // background: purple;
  }

  .about {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 920px) {
  .menu,
  .close {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      a {
        color: var(--secondary-color);
        padding: 8px 16px;
        font-size: 1.3rem;

        &:hover {
          color: var(--secondary-color);
        }

        &::after {
          content: "";
          width: 0;
          height: 2px;
          background: var(--secondary-color);
          display: block;
          transition: 0.2s linear;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  #icon {
    margin-bottom: 13px;
  }

  .hero {
    .hero-image {
      width: 500px;
      img {
        width: 100%;
      }
    }
    .hero-text {
      width: 600px;
      padding: 18px;
      h1 {
        margin-top: 1.3em;
        width: 798px;
        font-size: 4rem;
        font-weight: 400;
        line-height: 76.8px;
        letter-spacing: -0.64px;
      }

      p {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 36px;
        width: 637px;
      }
    }
  }

  .about {
    flex-direction: row-reverse;

    .about-text-container {
      .about-text {
        p {
          font-size: 1.3rem;
          width: 637px;
        }
      }
    }
  }
  .contact {
    .contact-container {
      .logo-card {
        padding: 60px;

        border-radius: 50%;

        .logo {
          font-size: 4rem;
        }

        .details {
          h2 {
            font-size: 1.4rem;
          }
        }
      }

      .contact-card {
        input[type="submit"] {
          padding: 10px;
        }
      }
    }
  }
}

@keyframes Bellaintroload {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
